<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>打分系统</title> 
<script>
            window.onload=function(){
    {volist name='out' id='vf'}

{volist name='vf' id='vp'}
  document.getElementsByName('{$key}')[{$vp}].checked='checked';

{/volist}{/volist}
             

            }
</script>
</head>
 
<body>


	<a href="{:url('index/quit')}"">退出</a>
    <a href="{:url('index/one')}"">教学单位处级干部</a>
    <a href="{:url('index/two')}"">教学单位领导班子</a>
    <a href="{:url('index/three')}"">非教学单位处级干部</a>
    <a href="{:url('index/four')}"">非教学单位领导班子</a>


  

<form action="{:url('Insert/index')}" method='post' name='editPwd'>

 <p style="font-size: 26px;">{$unit}</p>
 <table border="1" style="border-collapse:collapse">
{volist name='man.Project' id='vb'}
  <tr>
    <td>{$key}</td>
    <td>
        <input id="1" type="radio"  name="{$vb}+{$man['Use_ID']}" value="1"/>1分
    </td><td>
        <input id="2" type="radio"  name="{$vb}+{$man['Use_ID']}" value="2"/>2分
    </td><td>
        <input id="3" type="radio"  name="{$vb}+{$man['Use_ID']}" value="3"/>3分
    </td><td>
        <input id="4" type="radio"  name="{$vb}+{$man['Use_ID']}" value="4"/>4分
    </td><td>
        <input id="5" type="radio"  name="{$vb}+{$man['Use_ID']}" value="5"/>5分
    </td><td>
        <input id="6" type="radio"  name="{$vb}+{$man['Use_ID']}" value="6"/>6分
    </td><td>
        <input id="7" type="radio"  name="{$vb}+{$man['Use_ID']}" value="7"/>7分
    </td><td>
        <input id="8" type="radio"  name="{$vb}+{$man['Use_ID']}" value="8"/>8分
    </td><td>
        <input id="9" type="radio"  name="{$vb}+{$man['Use_ID']}" value="9"/>9分
    </td><td>
        <input id="10" type="radio"  name="{$vb}+{$man['Use_ID']}" value="10"/>10分
    </td>
    </tr>
{/volist}
</table>
<input type="submit" value='确认修改' class='edit-sub'/>

</form>
<span>当前共{$pagecount}页</span><span>当前第{$pagenow}页</span>
<a href="{:url('index/two',array('id'=>'1','pagenow'=>$pagenow))}">首页</a>
<a href="{:url('index/two',array('id'=>'2','pagenow'=>$pagenow))}">上一页</a>
<a href="{:url('index/two',array('id'=>'3','pagenow'=>$pagenow))}">下一页</a>
<a href="{:url('index/two',array('id'=>'4','pagenow'=>$pagenow))}">末页</a>
<form action="{:url('index/two')}" method='post' name='tiaozhuan'>
<input type="text" name="page" oninput="value=value.replace(/[^\d]/g,'')">
<input type="submit" value='跳转' />
    </form>
</body>
</html>